.navbar-dark{
    background-color: #a5c9de;
}

h1.header1 {
    color: #032256;
}


.headr {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.footer{
    background-color: #afc7d5;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
  }

  .row-content {
    margin: 0px auto;
    padding: 0px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; }

.form-group{
    margin-top: 12px;
    margin-bottom: 12px;
}

.container-fluid .jumbotron, .container .jumbotron {
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @media screen and (min-width: 768px)
  {
  .container-fluid .jumbotron, .container .jumbotron {
      padding-left: 60px;
      padding-right: 60px;
  }
  }
  
  @media screen and (min-width: 768px)
  {
  .jumbotron {
      padding-bottom: 48px;
      padding-top: 48px;
  }
  }
  
  .jumbotron {
    background-color: #eee;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .crdhv :hover{
      
  }