.navbar-dark{
    background-color: #a5c9de;
}

h1.header1 {
    color: #032256;
}


.headr {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.footer{
    background-color: #afc7d5;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
  }

  .row-content {
    margin: 0px auto;
    padding: 0px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; }

.form-group{
    margin-top: 12px;
    margin-bottom: 12px;
}